.aboutContainer {
  /* background: rgba(142, 68, 173, 1) */
  
}

.aboutWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    padding: 30px;
    grid-gap: 50px;
    background: rgba(244, 244, 244);
}

.bio {
    width: 400px;
    grid-column: 2/3;
    padding-top: 25px;
}


.JoBio {
  width: 250px;
  height: 400px;
  padding-top: 25px;
}

.bio h3 {
  font-size: 44px;
  color: black;
}

.bio p {
  font-size: 20px;
  line-height: 1.9;
  color: black;
}

@media only screen and (max-width: 480px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutWrapper {
    display: block;
  }

  .JoPic {
    text-align: center;
  }

  .bio p {
    font-size: 14px;
    line-height: 1.9;
    width: 87%;
  }



}