.pageAboutWrapper {
  margin-bottom: 1.45rem;
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
  max-width: 960px;
}

.aboutContainerMain {
  display: flex;
  margin-top: 5%;
}

.JoBio {
  width: 250px;
  height: 400px;
}

.aboutTextMain {margin-left: 5%;}

.welcome {text-align: center;}


@media only screen and (max-width: 480px) { 
  .aboutContainerMain {
    display: block;
    text-align: center;
  }

}