.imageContainer {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 1.45rem;
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
  max-width: 960px; */

}



.imagesWrap {
  position: relative;
}

img {
  width: 250px;
  height: 250px;
}

.description {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  height: 250px;
  background: rgba(213, 184, 255, .55);
  transition: opacity .2s, visibility .2s;
}

.description p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.description a {
  color: black;
}

.imagesWrap:hover .description {
  visibility: visible;
  opacity: 1;
}


@media only screen and (max-width: 480px) {
  .imageContainer {
    flex-direction: column;
    text-align: center;
  }

  
}





