.imageContainer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.45rem
 
}

.images {
  border: 1px solid purple;
}

img {
  width: 250px;
  height: 250px;
}